@model List<task_crud2.Models.Tarea>

    <h1>TASKS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model)
        {
            <tr>
            <td>@task.IdTask</td>
            <td>@task.Title</td>
            <td>@task.Description</td>
            <td>
                <a asp-controller="TaskController1" asp-action="Edit" asp-route-id="@task.IdTask">Edit</a>
                    <form asp-controller="TaskController1" asp-action="Delete" asp-route-id="@task.IdTask" method="post" onsubmit="return  confirm('¿Estás seguro de que quieres eliminar esta tarea?');">
                        <button type="submit">Delete</button>

                </form>
            </td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-controller="TaskController1" asp-action="Create">Create task</a>